<h1><a href="/">TinyApp</a></h1>

<nav id="user-dashboard">

<% if (userID) { %>

<div>Logged in as: <%= email %></div>
<form action="/logout" method="POST">
  <input type="submit" class="button" value="Log Out">
</form>
<div class="button"><a href="/urls">My Links</a></div>

<%} else {%>

<p>Registered users, please log in:</p>

<form action="/login" method="POST">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="" placeholder="email@example.com" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="" placeholder="Enter your password" />
  </div>
    <input type="submit" id="submit-login" class="button" value="Submit" />
  </div>
</form>

<p>Not registered yet? <a href="/register">Sign up now</a></p>
<% } %>