<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body style="font-size: 20px; padding: 50px;">

  <header>
    <h1><a href="/">TinyApp</a></h1>
  </header>

  <h2>Log In</h2>

  <form action="/login" method="POST">
    <p><label for="email">Email:</label><br />
      <input type="email" id="email" name="email" value="" placeholder="email@example.com" style="width: 300px" /></p>
      <p><label for="password">Password:</label><br />
        <input type="password" id="password" name="password" value="" placeholder="Enter your password" /></p>
        <p><button style="padding: 5px" type="submit">Submit</button></p>
      </form>
      <p><em>Not registered yet? <a href="/register">Sign Up Now</a></em></p>

    </body>
    </html>