<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
  <header>
          <% include partials/_header %>
  </header>

  <main>

    <form method="POST" action="/urls/<%= shortURL %>">
      <h2>Short URL: <%= shortURL %></h2>
      <p>
        <input type="url" name="longURL" placeholder="http://" value="<%= longURL %>">
        <button type="">Update</button>
      </p>
    </form>

  </main>

  <footer>
          <% include partials/_footer %>
  </footer>

</body>
</html>