<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
          <% include partials/_header %>
  </header>

  <main>

    <form action="/urls/<%= shortURL %>" method="POST">
      <h2>Short URL: <%= shortURL %></h2>
      <p>
        <input type="url" name="longURL" placeholder="http://" value="<%= longURL %>">
        <input type="submit" value="Update">
      </p>
    </form>

  </main>

  <footer>
          <% include partials/_footer %>
  </footer>

</body>
</html>