<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>

  <main>
  <div>
    <table>
      <thead>
      <tr>
        <th align="left">URLs</th>
      </tr>
      </thead>
      <tbody>
      <% for (let urlKey in urls) { %>
        <tr>
          <td><%= urlKey %> -----></td>
          <td><%= urls[urlKey] %></td>
          <td><a href="/urls/<%= urlKey %>">Edit</a></td>
          <td>
            <form action="/urls/<%= urlKey %>/delete" method="GET" id="shortURL" type="submit" value="Delete">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
  <p>
    <a href="/urls/new">Click here to shorten a new URL</a>
  </p>
  </main>

  <footer>
          <% include partials/_footer %>
  </footer>

</body>
</html>