<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
  <header>
          <% include partials/_header %>
  </header>

  <main>

  <table>
    <tr>
      <th align="left">Short</th><th></th><th align="left">Long</th>
    </tr>
    <tr>
      <td align="left">insert short url</td>
      <td align="left"> -----> </td>
      <td align="left">insert long url</td>
    </tr>
  </table>
  <a href="url">Click here to shorten a new URL</a>

  </main>

<!--  <footer>
          <% include partials/_footer %>
  </footer>
-->
</body>
</html>